<style>
  #suggestions {
      position: absolute;
      z-index: 1000; /* Ensure it appears above other elements */
    
  }
</style>


<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title card_title_cus"><a href="/wdtls/addannouncement" class="btn btn-primary">Upload</a> 
              
              <div class="table_title_icon"> 
                <!-- <img src="/images/pdf.jpg" alt="pdf" class="pdf_cus" />
                <img src="/images/excel.jpg" alt="excel" class="excel_cus" /> -->
              <!-- <i class="fa fa-file-pdf-o pdf_cus" aria-hidden="true"></i> 
              <i class="fa fa-file-excel-o excel_cus" aria-hidden="true"></i> -->
            </div>
            
            </h4>
            <div class="table-responsive pt-3 custome_table_res">
            
              <table class="table_cus table-striped" style="width:100%">
              <!-- <table class="table table-striped"  id=""  style="width:100%"> -->
                <thead>
                  <tr>
                    <th class="society_th_1">SL No</th>
                    <!-- <th class="society_th_2">Document Type</th> -->
                    <th class="society_th_6">Document Title</th>
                    <th class="society_th_8">Document</th>
                    <th class="society_th_9">Option</th>
                  </tr>
                </thead>
                <tbody id="item-list">
                  <% var i=1
                  data.forEach(dt => { %>
                      <tr>
                          <td><%= i++ %></td>
                          <!-- <td><%= dt.doc_type %></td> -->
                          <td><%= dt.doc_title %></td>
                          <td><%= dt.document %></td>
                          <td></td>
                          <!-- <td>
                            <a href="/del?id=<%= dt.id %>" class="edit_dashboard">Edit</a>
                          </td> -->
                      </tr>
                  <% }) %>
                </tbody>
              </table>
        
            </div>

          
        
          </div>
        </div>
      </div>
</div>

