<div class="row">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title card_title_cus">Election Detail Input</h4>
        <form class="forms-sample" action="/report/election_duen" method="post" >
          <input type="hidden" class="form-control"  name="id" value="" required>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="exampleInputName1">Controlling Authority<span class="red">*</span></label>
                  <select name="" class="form-control" disabled> 
                    <option value="">Please Select</option>
                    <% 
                    controllingauth.forEach(dt => { %>
                    <option value="<%= dt.controlling_authority_type_id %>"  <%= dt.controlling_authority_type_id == 1 ? 'selected' : '' %>><%= dt.controlling_authority_type_name %></option>
                    <% }) %>
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
              
                  <% if(user.range_id > 0){ %>
                  <label for="exampleInputName1">Range<span class="red">*</span></label>
                  <select name="" class="form-control"  disabled> 
                    <option value="">Please Select</option>
                    <option value="0"  >ALL Range</option>
                    <%  range_list.forEach(dt => { %>
                    <option value="<%= dt.range_id %>" <%= dt.range_id == range_cd ? 'selected' : '' %> ><%= dt.range_name %></option>
                    <% })  %>
                  </select>
                  <input type="hidden" name="range_id" value="<%=range_cd%>">
                  <% }else{ %>
                    <label for="exampleInputName1">Range<span class="red">*</span></label>
                    <select name="range_id" class="form-control" required> 
                      <option value="0"  >ALL Range</option>
                      <%  range_list.forEach(dt => { %>
                        <option value="<%= dt.range_id %>" <%= dt.range_id == range_cd ? 'selected' : '' %> ><%= dt.range_name %></option>
                        <% })  %>
                    </select>
                  <% } %>
                </div>
              </div>
             

              <!-- <div class="col-md-3">
                <div class="form-group">
                  <label for="exampleInputName1">From Date<span class="red">*</span></label>
                  <input type="date" name="fr_dt" value="" id="fr_dt" class="form-control" required>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="exampleInputName1">To Date<span class="red">*</span></label>
                  <input type="date" name="to_dt" value="" id="to_dt" class="form-control" required>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="exampleInputName1">Status<span class="red">*</span></label>
                  <br>
                  <input type="radio" id="javascript" name="elec_status" value="HELD" checked>HELD
                </div>
              </div> -->
            </div>
          <button type="submit" class="btn btn-primary mr-2" id="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>


<script>
  // $(document).ready(function() {
  //   $('form').submit(function(event) {
  //     var fromDate = $('#fr_dt').val();
  //     var toDate = $('#to_dt').val();
      
  //     // Check if From Date and To Date are not blank
  //     if (!fromDate || !toDate) {
  //       alert("Both From Date and To Date are required.");
  //       event.preventDefault();  // Prevent form submission
  //       return false;
  //     }
      
  //     // Check if To Date is greater than From Date
  //     if (new Date(toDate) < new Date(fromDate)) {
  //       alert("To Date must be greater than From Date.");
  //       event.preventDefault();  // Prevent form submission
  //       return false;
  //     }

  //     return true;
  //   });
  // });
</script>


