<div class="row">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title card_title_cus">Add user</h4>
        <form class="forms-sample" action="/wdtls/saveuser" method="post" >
          <input type="hidden" class="form-control"  name="id" value="<%= usersd.id %>" >
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="exampleInputName1">User Name<span class="red">*</span></label>
                <input type="text" class="form-control"  name="user_name" value="<%= usersd.user_name %>" required>
              </div>
            </div>
          </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="exampleInputName1">User Mobile (user ID)<span class="red">*</span></label>
                  <input type="text" class="form-control"  name="user_id" value="<%= usersd.user_id %>" readonly>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="exampleInputName1">User Email</label>
                  <input type="email" class="form-control"  name="user_email" value="<%= usersd.user_email %>" >
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="exampleInputName1">Mobile No(Must be 10 digit)</label>
                  <input type="number" class="form-control"  name="user_mobile" value="<%= usersd.user_mobile %>" required  id="user_mobile">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="exampleInputName1">Designation<span class="red">*</span></label>
                  <input type="text" class="form-control"  name="designation" value="<%= usersd.designation %>" required>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="exampleInputName1">User Type<span class="red">*</span></label>
                  <select name="user_type" class="form-control" required> 
                    <option value="">Please Select</option>
                    <%  if(user.user_type == 'S') { %>
                    <option value="A" <%= usersd.user_type == 'A' ? 'selected' : '' %>>Admin</option>
                    <% } %>  
                    <option value="M" <%= usersd.user_type == 'M' ? 'selected' : '' %>>RO</option>
                    <option value="U" <%= usersd.user_type == 'U' ? 'selected' : '' %>>ARO </option>
                    <option value="E" <%= usersd.user_type == 'E' ? 'selected' : '' %>>Election Inspection Cell</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">

           
              <div class="col-md-6">
                <div class="form-group">
                  <label for="exampleInputName1">Registration & Controlling Authority <span class="red">*</span></label>
                  <% if(user.user_type== 'S') { %>
                  <select name="cntr_auth_type" id="cntr_auth_type" class="form-control" required> 
                    <option value="">Please Select</option>
                    <% 
                    cnt_type.forEach(dt => { %>
                    <option value="<%= dt.controlling_authority_type_id %>" <%= usersd.cntr_auth_type == dt.controlling_authority_type_id ? 'selected' : '' %> ><%= dt.controlling_authority_type_name %></option>
                    <% }) %>
                  </select>
                  <% }else{  %>
                    <select name="" id="" class="form-control" disabled> 
                      <option value="">Please Select</option>
                      <% 
                      cnt_type.forEach(dt => { %>
                      <option value="<%= dt.controlling_authority_type_id %>" <%= cntr_auth_type == dt.controlling_authority_type_id ? 'selected' : '' %> ><%= dt.controlling_authority_type_name %></option>
                      <% }) %>
                    </select>
                    <input type="hidden" name="cntr_auth_type" value="<%= cntr_auth_type %>">

                    <% } %>

                </div>
              </div>
              <% if(user.user_type == 'M' || user.user_type == 'A'){ %>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="exampleInputName1"><%=user_ty%> <span class="red">*</span></label>
                        <% if(cntr_auth_type == 1) { %>
                          <% if(user.user_type == 'M') { %>
                        <select name="" class="form-control" disabled> 
                          <% 
                          data.forEach(dt => { %>
                          <option value="<%= dt.range_id %>" <%= range_dist == dt.range_id ? 'selected' : '' %> ><%= dt.range_name %></option>
                          <% }) %>
                        </select>
                        <input type="hidden" name="range_id" value="<%= user.range_id %>">
                        <% }else{   %>
                          <select name="range_id" class="form-control" > 
                            <% 
                            data.forEach(dt => { %>
                            <option value="<%= dt.range_id %>" <%= usersd.range_id == dt.range_id ? 'selected' : '' %> ><%= dt.range_name %></option>
                            <% }) %>
                          </select>
                       <%  } %>
                       <% }else { %>
                         <% if(user.user_type == 'M') { %>
                        <select name="" class="form-control" disabled> 
                          <% 
                          distl.forEach(dt => { %>
                          <option value="<%= dt.dist_code %>" <%= range_dist == dt.dist_code ? 'selected' : '' %> ><%= dt.dist_name %></option>
                          <% }) %>
                        </select>
                        <input type="hidden" name="range_id" value="<%= user.range_id %>">
                        <% }else{  %>
                          <select name="range_id" class="form-control" > 
                            <% 
                            distl.forEach(dt => { %>
                            <option value="<%= dt.dist_code %>" <%= usersd.range_id == dt.dist_code ? 'selected' : '' %> ><%= dt.dist_name %></option>
                            <% }) %>
                          </select>
                         <%  } %>
                        <% } %>
                  </div>
                </div>
                <% }else{  %>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="exampleInputName1">Range/District<span class="red">*</span></label>
                        <select name="range_id" class="form-control" id="range_id" required>
                           <% if(usersd.cntr_auth_type  > 1) { %>
                            <% 
                          distl.forEach(dt => { %>
                            <option value="<%= dt.dist_code %>" <%= usersd.range_id == dt.dist_code ? 'selected' : '' %> ><%= dt.dist_name %></option>
                             <% }) %>
                            <% }else{   %>

                              <% 
                            data.forEach(dt => { %>
                              <option value="<%= dt.range_id %>" <%= usersd.range_id == dt.range_id ? 'selected' : '' %> ><%= dt.range_name %></option>
                              <% }) %>
                            <% }  %>

                        </select>
                      </div>
                    </div>
                <% } %>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="exampleInputName1">User Status<span class="red">*</span></label>
                  <select name="user_status" class="form-control" required> 
                    <option value="">Please Select</option>
                    <option value="A" <%= usersd.user_status == 'A' ? 'selected' : '' %>>Active</option>
                    <option value="I" <%= usersd.user_status == 'I' ? 'selected' : '' %> >Inactive</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="exampleInputName1">Reset Password</label>
                  <input type="text" class="form-control"  name="password" value="" >
                </div>
              </div>
              
            </div>
            <div class="row">
             
            </div>
            
          <button type="submit" class="btn btn-primary mr-2" id="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  document.getElementById('user_mobile').addEventListener('change', function () {
    const mobileInput = this.value.trim();
    
    // Check if it is exactly 10 digits and a valid number
    if (!/^\d{10}$/.test(mobileInput)) {
        alert('Mobile number must be exactly 10 digits.');
        this.value = ''; // Clear the field
        this.focus(); // Set focus back to the field
    }
});
</script>