<div class="row">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title card_title_cus">Add user</h4>
        <form class="forms-sample" action="/wdtls/saveuser" method="post" >
          <input type="hidden" class="form-control"  name="id" value="<%= usersd.id %>" >
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="exampleInputName1">User Name<span class="red">*</span></label>
                <input type="text" class="form-control"  name="user_name" value="<%= usersd.user_name %>" required>
              </div>
            </div>
          </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="exampleInputName1">User Mobile<span class="red">*</span></label>
                  <input type="number" class="form-control"  name="user_id" value="<%= usersd.user_id %>" >
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="exampleInputName1">User Email<span class="red">*</span></label>
                  <input type="email" class="form-control"  name="user_email" value="<%= usersd.user_email %>" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="exampleInputName1">Designation<span class="red">*</span></label>
                  <input type="text" class="form-control"  name="designation" value="<%= usersd.user_name %>" required>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="exampleInputName1">User Type<span class="red">*</span></label>
                  <select name="user_type" class="form-control" required> 
                    <option value="">Please Select</option>
                    <option value="A" <%= usersd.user_type == 'A' ? 'selected' : '' %>>Admin</option>
                    <option value="M" <%= usersd.user_type == 'M' ? 'selected' : '' %> >Range Admin</option>
                    <option value="U" <%= usersd.user_type == 'U' ? 'selected' : '' %>>User </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="exampleInputName1">Range<span class="red">*</span></label>
                  <select name="range_id" class="form-control" required> 
                    <option value="">Please Select</option>
                    <% 
                    data.forEach(dt => { %>
                    <option value="<%= dt.range_id %>" <%= usersd.range_id == dt.range_id ? 'selected' : '' %>><%= dt.range_name %></option>
                    <% }) %>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="exampleInputName1">User Status<span class="red">*</span></label>
                  <select name="user_status" class="form-control" required> 
                    <option value="">Please Select</option>
                    <option value="A" <%= usersd.user_status == 'A' ? 'selected' : '' %>>Active</option>
                    <option value="I" <%= usersd.user_status == 'I' ? 'selected' : '' %> >Inactive</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="exampleInputName1">Reset Password</label>
                  <input type="text" class="form-control"  name="password" value="" >
                </div>
              </div>
            </div>
            
          <button type="submit" class="btn btn-primary mr-2" id="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>



