<div class="row">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title card_title_cus">Profile Update</h4>
        <form class="forms-sample" action="/wdtls/saveuser" method="post" >
          <input type="hidden" class="form-control"  name="id" value="<%= usersd.id %>" >
         
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputName1">User Mobile (user ID)<span class="red">*</span></label>
                <input type="text" class="form-control"  name="user_id" value="<%= usersd.user_id %>" readonly>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputName1">User Name<span class="red">*</span></label>
                <input type="text" class="form-control"  name="user_name" value="<%= usersd.user_name %>" required>
              </div>
            </div>
          </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="exampleInputName1">Designation<span class="red">*</span></label>
                  <input type="text" class="form-control"  name="designation" value="<%= usersd.designation %>" required>
                </div>
              </div>
             
              <div class="col-md-6">
                <div class="form-group">
                  <label for="exampleInputName1">User Email</label>
                  <input type="email" class="form-control"  name="user_email" value="<%= usersd.user_email %>" >
                </div>
              </div>
            </div>
            <div class="row">
             
             
            </div>
            
          <button type="submit" class="btn btn-primary mr-2" id="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>



